# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gitignore
# Test binary, built with `go test -c`
*.test

.*gitignore
.*pyc

pyc
gitignore

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pyc
# Dependency directories (remove the comment below to include it)
# vendor/
custom-files/__pycache__/reward_function_001.cpython-38.pyc
custom-files/__pycache__/reward_function_002.cpython-38.pyc
custom-files/__pycache__/reward_function.cpython-38.pyc
custom-files/__pycache__/reward_function.cpython-312.pyc
analysis/AS21_newest_2022_may_open_ccw.txt
analysis/optimals_newest_2022_may_open_ccw.txt
analysis/RaceLine_Speed_ActionSpace.ipynb
custom-files/reward_function_001.py
custom-files/reward_function_002.py
custom-files/__pycache__/reward_function_001.cpython-38.pyc
custom-files/__pycache__/reward_function.cpython-38.pyc
custom-files/__pycache__/reward_function.cpython-312.pyc
